$def with (personas=[])
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SQLITE demo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>🌙 Base de datos en SQLite3 🌙</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Detalle</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            $for persona in personas:
                $ detalle = '/detalle/%s' % persona[0]
                $ editar = '/editar/%s' % persona[0]
                $ borrar = '/borrar/%s' % persona[0]
                <tr>
                    <td>$persona[1]</td>
                    <td>$persona[2]</td>
                    <td><a href=$detalle>👀</a></td>
                    <td><a href=$editar>✍️</a></td>
                    <td><a href=$borrar>🗑️</a></td>
                </tr>
        </tbody>
    </table>

    <form action="/" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" placeholder="correo@ejemplo.com" required>
        </div>
        <button type="submit" class="boton btn-agregar">
  ➕ Agregar Persona
</button>

    </form>
</body>
</html>
